html, body, #map-canvas { 
	height: 100%; 
	margin: 0;
	padding: 0 
}
#about {
	position: absolute;
  bottom: 15px;
  right: 5px;
  z-index: 99;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
.button {
  border: 1px solid #000;
  background: #d1d1d1;
}    